﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="testHomepage.aspx.cs" Inherits="MACEGNew.testHomepage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>test it here</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <h1>Try this repo new!</h1>
    </div>
    </form>
</body>
</html>
