﻿
.bg-dark-lighter {
    background-color: #FFF051;
}
.bg-dark {
    background-color:#EA5A4F;
}

.bg-dark-lighter {
    background-color: #FFF051;
    margin-top: 105px;
}
.bg-dark-alfa-50:before, .bg-dark-alfa-50 .YTPOverlay:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fa5c5d;
}

.bg-dark-alfa-50 {
    color: #FFF051;
}
blockquote {
    border: none;
}